asgiref==3.4.1
autopep8==1.6.0
Babel==2.9.1
backports.entry-points-selectable==1.1.0
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cx-Oracle==8.1.0
cycler==0.10.0
distlib==0.3.2
Django==3.2.5
django-crispy-forms==1.13.0
djangorestframework==3.12.4
et-xmlfile==1.1.0
filelock==3.0.12
Flask==1.1.2
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
kiwisolver==1.3.1
MarkupSafe==1.1.1
matplotlib==3.3.3
module==0.0.4
modules==1.0.0
MouseInfo==0.1.3
mysql-connector==2.2.9
mysql-connector-python==8.0.25
mysqlclient==2.1.0
numpy==1.19.4
openpyxl==3.0.7
pandas==1.2.0
Pillow==8.0.1
platformdirs==2.0.2
protobuf==3.17.0
py-moneyed==1.2
PyAutoGUI==0.9.52
pycodestyle==2.8.0
PyGetWindow==0.0.9
PyMsgBox==1.0.9
PyMySQL==1.0.2
pyparsing==2.4.7
pyperclip==1.8.2
PyRect==0.1.4
PyScreeze==0.1.26
python-dateutil==2.8.1
pytils==0.3
PyTweening==1.0.3
pytz==2020.5
pywhatkit==3.9
requests==2.25.1
six==1.15.0
soupsieve==2.2
sqlparse==0.4.1
toml==0.10.2
urllib3==1.26.3
virtualenv==20.6.0
Werkzeug==1.0.1
wikipedia==1.4.0
xlrd==2.0.1
